@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


main {
    display: grid;
    width: 5fr;
    height: 600px;  /* esse ajuste pode ser usado nos outros mains */
    margin: 0;
    grid-template-rows: 5fr;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 'map contact';
}
  
.map {  
    grid-area: map;
    display: flex;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.contact{
    text-align: center;
    grid-area: contact;
    display: flex; 
    margin: 0;
    flex-direction: column;
    padding: 5vw 0vw 0vw 0vw;
}
.b-contact{
    padding: 0vw 0vw 0vw 0vw;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 0
    
}
h2{
    word-wrap: break-word;

}
.b-name{
    padding: 0vw 0vw 0vw 0vw;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 0;
}
#name{
    display: flex;
    align-items: center;
	justify-content: center;
    margin: 0 ;
    width: 85%;
    height: 45%;
    margin-top: 60px;
    border-radius: 16px;
    border: 2px solid gray;
}
.b-textbox{
    padding: 0vw 0vw 0vw 0vw;
	display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 8%;
}
#textbox{
    display: flex;
    margin: 0;/*0 auto*/;
    width: 85%;
    height: 145%;
    border-radius: 16px;
    border: 2px solid gray;
}
.b-box{
	padding: 0vw 0vw 0vw 0vw;
	display: flex;
    margin-top: 7%;
	align-items: center;
	justify-content: center;
    
}
.button{
    width: 55%;
    height: 80%;
    margin-top: 10px;
    background-color: coral;
    font-size: x-large;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}



